/* globle rules */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --mian-color: #CE1212;
}
html{
    scroll-behavior: smooth;
}
li{
    list-style-type: none;
}
body{
    font-family: 'Cairo', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
/* end globale rules */
/* start nav */
.nav-bar{
    width: 100%;
    display: flex;
    background-color: white;
    position: fixed;
    z-index: 1;
    box-shadow: 0px 0px 14px 0px #0000001b;
}

.nav-bar .main-container{
    width: 90%;
    margin: auto;

}
.nav-bar .container{
    padding: 30px;
    display: flex;
    justify-content: space-between;    
}
.nav-bar .container h3{
    font-size: 30px;
}
.nav-bar .container span{
    color: var(--mian-color);
}
.nav-bar .container ul{
    display: flex;
}
.nav-bar .container ul li{
    margin-right: 15px;
    font-size: 20px;
}
.nav-bar .container ul li a.active{
    position: relative;
    color: black;
}
.nav-bar .container ul li .active::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--mian-color);
    top: 27px;
    opacity: 1;
}
.nav-bar .container ul li a{
    text-decoration: none;
    color:#6c6a6a;
    position: relative;
}
.nav-bar .container ul li a::before{
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: var(--mian-color);
    top: 27px;
    transition: 0.5s;
    opacity: 0;
}
.nav-bar .container ul li:hover a::before{
    opacity: 1;
    width: 100%;
}
.nav-bar .container ul li a:hover{
    color: black;
}
.nav-bar .container i{
    font-size: 25px;
}
/* end nav */
/* start home */
#home{
    padding-bottom: 5%;
    display: flex;
    flex-direction: row;
    background-color: #EEEEEE;
}

#home .main-container{
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: fit-content;
    align-items: center;
}
@media (min-width: 1200px){
    #home .main-container{
        min-height: 100vh;
    }
}
@media(max-width: 992px) {
#home .main-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    width : 90%;
   }
}
#home .content{
    margin-top: 10%;
    width: 40%;
    justify-content: center;
}
@media (max-width: 992px){
    #home .content{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
    #home .content p{
        text-align: center;
    }
}
#home .content h2{
    font-family: "Amatic SC";
    font-size: 65px;
    color: #37373F;
    line-height: 1.3;
}
#home .content p{
    line-height: 1.8;
    margin-top: 20px;
    margin-bottom: 10px;
}
#home .button-home{
    display: flex;
    align-items: center;
}
#home .button-home .booking{
    padding: 15px;
    width: 140px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    background-color: #CE1212;
    color: white;
    border: none;
    margin-right: 30px;
    display: flex;
    text-decoration: none;
}
@media (max-width: 992px){
    #home .button-home .booking{
        border-radius: 100vh;
    }
}
#home .button-home .booking:hover{
    background-color: red;
}
#home .button-home .home-link{
    display: flex;
    text-decoration: none;
    color: black;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
#home .button-home .home-link:hover{
    color: var(--mian-color);
}
#home .button-home .home-icon{
    background-image: linear-gradient(to right, var(--mian-color) 0% 50%, transparent 50% 100%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
#home .button-home .home-icon i{
    z-index: 1;
}
#home .button-home .home-icon::before{
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;

}
#home .image{
    width: 40%;
    display: flex;
    align-items: center;
    margin-top: 10%;
}
@media (max-width: 992px){
    #home .image{
        width: 90%;
    }
}
#home .image img{
    width: 100%;
    filter: drop-shadow(4px 4px 9px #000a);
}
#home .image img:hover{
    animation: shake 1s infinite;
}
/* end home */
/* start chef */
#chefs .main-container{
    width: 90%;
    margin: auto;
}
#chefs .main-container .head-box{
    padding: 6%;
}
#chefs .main-container .head-box h2{
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    color: #8e8383;
}
#chefs .main-container .head-box p{
    font-size: 50px;
    text-align: center;
    font-family: "Amatic SC";
}
#chefs .main-container .head-box span{
    color: #CE1212;
}
#chefs .box-container{
    display: flex;
    justify-content: space-around;
    padding-bottom: 8%;
}
#chefs .box-container .box-chefs{
    width: 31%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
#chefs .box-chefs img{
    width: 100%;
    border-radius: 5px;
}
#chefs .box-chefs .special{
    position: absolute;
    top: 320px;
}
#chefs .box-chefs .chefs-text{
    text-align: center;
}
#chefs .box-chefs .chefs-text h3{
    margin-bottom: 10px;
}
#chefs .box-chefs .chefs-text span{
    font-size: 14px;
}
#chefs .box-chefs .chefs-text p{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 100;
    margin-top: 10px;
    margin-bottom: 10px;
}
/* end chef */
/* start gallery */
#gallery{
    background-color: #EEEEEE;
    padding-bottom: 7%;
}
#gallery .main-container{
    width: 90%;
    margin: auto;
}
#gallery .main-container .gallery-text{
    text-align: center;
    padding: 7%;
}
#gallery .main-container .gallery-text h2{
    font-size: 15px;
    font-weight: 100;
}
#gallery .main-container .gallery-text p{
    font-family: "Amatic SC";
    font-size: 50px;
}
#gallery .main-container .gallery-text span{
    color: #CE1212;
}
#gallery .gallery-image{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
#gallery .gallery-image .column1{
    display: flex;
    flex-wrap: wrap;
    width: 30%;
    height: max-content;
    gap: 10px;
}
#gallery .gallery-image .column1 img{
    width: 100%;
    border: 2px solid white;
    display: flex;
    margin-left: 50px;
    height: fit-content;
}
/* end gallery */
/* start contact */
#contact .main-container{
    width: 90%;
    margin: auto;
}
#contact .contact-text{
    padding: 6%;
}
#contact .contact-text h2{
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    color: #8e8383;
}
#contact .contact-text p{
    font-size: 50px;
    text-align: center;
    font-family: "Amatic SC";
}
#contact .contact-text span{
    color: #CE1212;
}
#contact iframe{
    width: 100%;
}
#contact .main-form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
    padding: 20px;
}
#contact .main-form .form1{
    background-color: #EEEEEE;
    width: 49%;
    padding: 20px;
    display: flex;
}
#contact .main-form .form1 .icon{
    padding: 15px;
    border-radius: 50%;
    background-color: var(--mian-color);
    color: white;
    margin-right: 10px;
}
#contact .main-form .form1 h3{
    margin-bottom: 10px;
    color: #7D7D7D;
    font-size: 20px;
}
#contact .main-form .form1 p{
    color: #212529;
}
#contact .main-form .form2{
    background-color: #EEEEEE;
    width: 49%;
    padding: 20px;
    display: flex;
}
#contact .main-form .form2 .icon{
    padding: 15px;
    border-radius: 50%;
    background-color: var(--mian-color);
    color: white;
    margin-right: 10px;
}
#contact .main-form .form2 h3{
    margin-bottom: 10px;
    color: #7D7D7D;
    font-size: 20px;
}
#contact .main-form .form2 p{
    color: #212529;
}
#contact .main-form .form2 a{
    text-decoration: none;
    color: #212529;
}
#contact .main-form .form3{
    background-color: #EEEEEE;
    width: 49%;
    padding: 20px;
    display: flex;
}
#contact .main-form .form3 .icon{
    padding: 15px;
    border-radius: 50%;
    background-color: var(--mian-color);
    color: white;
    margin-right: 10px;
}
#contact .main-form .form3 h3{
    margin-bottom: 10px;
    color: #7D7D7D;
    font-size: 20px;
}
#contact .main-form .form3 p{
    color: #212529;
}
#contact .main-form .form3 a{
    text-decoration: none;
    color: #212529;
}
#contact .main-form .form4{
    background-color: #EEEEEE;
    width: 49%;
    padding: 20px;
    display: flex;
}
#contact .main-form .form4 .icon{
    padding: 15px;
    border-radius: 50%;
    background-color: var(--mian-color);
    color: white;
    margin-right: 10px;
}
#contact .main-form .form4 h3{
    margin-bottom: 10px;
    color: #7D7D7D;
    font-size: 20px;
}
#contact .main-form .form4 p{
    color: #212529;
}
#contact .contact-form{
    box-shadow: 0 0 1.875rem #00000014;
    padding: 10px;
    padding-bottom: 50px;
}
#contact .contact-form .contact-data input{
    width: 49.2%;
    padding: 15px;
    margin-right: 5px;
}
#contact .contact-form input{
    width: 100%;
    padding: 15px;
    margin-top: 15px;
}
#contact .contact-form textarea{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    height: 100px;
}
#contact .contact-form button{
    padding: 15px;
    display: flex;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: fit-content;
    border-radius: 50px;
    background-color: var(--mian-color);
    border: none;
}
#contact .contact-form button a{
    text-decoration: none;
    color: white;
}
/* end contact */
/* start footer */
#footer{
    padding-top: 5%;
    padding-bottom: 5%; 
    background-image: url(../img/textured-metal-background.jpg);
    background-size: cover;
    background-position: center center;
    position: relative;  
}
#footer .layer{
    background-color: #00000082;
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
}
#footer .main-container{
    width: 90%;
    margin: auto;
    z-index: 2;
    position: relative;
}
#footer .main-container .second-container{
    display: flex;
}
#footer .main-container .second-container .content1{
    width: 33%;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}
#footer .main-container .second-container .content1 .contain1{
    display: flex;
    margin-bottom: 10px;
}
#footer .main-container .second-container .content1 .contain1 img{
    width: 15%;
    margin-right: 10px;
}
#footer .main-container .second-container .content1 .contain1 h2{
    color: white;
    margin-top: 10px;
}
#footer .main-container .second-container .content1 .contain1 h2 span{
    color: #CE1212;
}
#footer .main-container .second-container .content1 p{
    color: white;
    font-size: 15px;
    width: 305px;
}
#footer .main-container .second-container .content1 h3{
    color: white;
    text-align: center;
    margin: 10px;
}
#footer .main-container .second-container .content1 ul{
    display: flex;
    justify-content: center;
}
#footer .main-container .second-container .content1 ul li{
    margin: 15px;
}
#footer .main-container .second-container .content1 ul li a{
    color: white;
    font-size: 20px;
}
#footer .main-container .second-container .content2 h3{
    color: white;
    margin-bottom: 10px;
}
#footer .main-container .second-container .content2 p{
    color: white;
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 10px;
    width: 89%;
}
#footer .main-container .second-container .content2 input{
    width: 80%;
    padding: 10px;
    border-radius: 5px;
}
#footer .main-container .second-container .content2 button{
    padding: 9px;
    border-radius: 5px;
    background-color: var(--mian-color);
    color: white;
    border: none;
}
#footer .main-container .second-container .content2 button a{
    text-decoration: none;
    color: white;
}
#footer .main-container .second-container .content2 .links h3{
    margin-top: 15px;
}
#footer .main-container .second-container .content2 .links ul{
    color: white;
    display: inline-block;
}
#footer .main-container .second-container .content2 .links ul li{
    margin-bottom: 15px;
    margin-right: 160px;
}
#footer .main-container .second-container .content2 .links ul li i{
    margin-right: 5px;
}
#footer .main-container .second-container .contact3 h3{
    color: white;
    margin-bottom: 10px;
}
#footer .main-container .second-container .contact3 ul{
    color: white;
}
#footer .main-container .second-container .contact3 ul li{
    margin-bottom: 20px;
    margin-left: 10px;
}
#footer .main-container .second-container .contact3 ul li i{
    color: var(--mian-color);
    margin-right: 3px;
    font-size: 20px;
}
/* end footer */
/* start animation */
@keyframes shake{
    0%{
        transform: translate(1px, 1px) rotate(0deg);
    }
    10%{
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    20%{
        transform: translate(-3px, 0px) rotate(1deg);
    }
    30%{
        transform: translate(3px, 2px) rotate(0deg);
    }
    40%{
        transform: translate(1px, -1px) rotate(1deg);
    }
    50%{
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    60%{
        transform: translate(-3px, -1px) rotate(0deg);
    }
    70%{
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80%{
        transform: translate(-1px, -1px) rotate(1deg);
    }
    90%{
        transform: translate(1px, 2px) rotate(0deg);
    }
    100%{
        transform: translate(1px, -2px) rotate(-1deg);
    }
}
/* end animation */
